{% extends 'base.html' %}

{% block content %}
<h1 class="admin-titles">Pending Comments</h1>
<ul class="list-class">
    {% for comment in pending_comments %}
    <li class="pending-item">
        <div class="username-admin">
            {{ comment.user }}
        </div>
        <div  class="font-italic">
            {{ comment.text }}
        </div>
        <div class="admin-button-conatiner">
            <a class="approve-btn" href="{% url 'approve-comment' comment.id %}">Approve</a>
            <a class="reject-btn" href="{% url 'reject-comment' comment.id %}">Reject</a>

        </div>

        <div class="created_at-style">
            {{ comment.created_at }}
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}