{% extends "base.html" %}

{% block title %}Edit Review{% endblock %}

{% block content %}
<div class="container">
    <h1>Edit Review</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn custom-buttons">Save Changes</button>
    </form>
</div>

{% if show_modal %}
<!-- Modal HTML code -->
<div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewModalLabel">Review Submission</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                Your review has been updated and is awaiting approval.
            </div>
        </div>
    </div>
</div>

<!-- JavaScript to show modal -->
<script>
    $(document).ready(function() {
        console.log("Document ready, executing modal script...");
        $('#reviewModal').modal('show');
    });
</script>
{% endif %}
{% endblock %}
