{% extends 'base.html' %}

{% block content %}
<h1 class="admin-titles">Pending Reviews</h1>
<ul class="pending-item">
    {% for review in pending_reviews %}
    <li>
        <div class="username-admin">
            {{ review.user }}
        </div>

        <div class="font-italic admin-content-text">
            "{{ review.review }}"
        </div>
        <div class="admin-button-conatiner">
            <a class="approve-btn" href="{% url 'approve-review' review.id %}">Approve</a>
            <a class="reject-btn" href="{% url 'reject-review' review.id %}">Reject</a>
        </div>
        <div class="created_at-style">
        {{ review.created_at }}
    </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}