{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="sign-in-container">
    <div class=" bg-warning sign-in-form">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3 class="text-white">{% trans "Sign In" %}</h3>

            <p class="text-white">{% blocktrans %}Welcome back to the Hotel Wantit Login and Sign up page. To leave a review or book restaurant, please log in. If
                you
                have not created an account yet, then <a class="link" href="{{ signup_url }}">CREATE ACCOUNT</a>
                first.{% endblocktrans %}</p>
        </div>
    </div>
    <div>
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-signup right custom-buttons" type="submit">{% trans "Sign In" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}