
{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}


{% block content %}

<div class="logo-login-holder">


</div>
<div class="login-out-container pt-5">
    <div class="logo-container">
        <img id="logo" src="{% static 'images/hv-logo.jpg' %}" alt="Logo Image">
        <p>Hotel Wantit</p>
    </div>
    <div class="sign-in-form ">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3 class="text-white text-center mb-3">{% trans "Login" %}</h3>

            <p class="text-white text-center">{% blocktrans %}Welcome back to the Hotel Wantit Login and Sign up page. To leave a review or book restaurant, please log in. If
                you
                have not created an account yet, then <a class="link" href="{{ signup_url }}">CREATE ACCOUNT</a>
                first.{% endblocktrans %}</p>
        </div>
    </div>
    <div class="col-md-8 col-lg-6 create-account-form">
        
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn edit-button " type="submit">{% trans "Sign In" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
