{% extends "base.html" %}
{% load static %}
{% url 'review-list' as review_list_url %}

{% block content %}

<div class="main-content-background">
    <div class="logo-container">
        <img id="logo" src="{% static 'images/hv-logo.jpg' %}" alt="Logo Image">
        <p>Hotel Wantit</p>
    </div>
    <div class="slide-holder">
        <div class="slideshow-container">
            <div class="slide" id="slide1">
                <img src="{% static 'images/room1.jpg' %}" alt="Room Image">
                <div class="overlay">
                    <p>Get 10% off on Deluxe Room</p>
                </div>
                <button class="action-button">Book Now</button>
            </div>
            <div class="slide" id="slide2">
                <img src="{% static 'images/room2.jpg' %}" alt="Renovation Image">
                <div class="overlay">
                    <p>Experience our newly refurbished rooms!</p>
                </div>
                <button class="action-button">Read More</button>
            </div>
            <div class="slide" id="slide3">
                <img src="{% static 'images/room-view.jpg' %}" alt="Reviews Image">
                <div class="review">
                    {% if random_review %}
                    <div class="review-body">"{{ random_review.review }}"</div>
                    <div class="review-author">{{ random_review.user.username }}</div>
                    <div class="review-date">{{ random_review.created_at|date:"F j, Y" }}</div>
                    <div class="stars">
                        {% for _ in "12345" %}
                        {% if forloop.counter <= random_review.rating %}
                        <span class="star">&#9733;</span> <!-- Filled star -->
                        {% else %}
                        <span class="star">&#9734;</span> <!-- Empty star -->
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="review-body">"No reviews available at the moment."</div>
                    {% endif %}
                </div>
                <button class="action-button" onclick="location.href='{% url 'review-list' %}'">Leave Review</button>
            </div>
        </div>
    </div>
</div>


<!-- index.html content ends here -->
{% endblock %}