{% extends 'base.html' %}

{% block content %}

<div class="pending-content-container">
    <h1 class="titles-position-style">Pending Reviews</h1>

    {% if pending_reviews %}
    <div class="row">
        {% for review in pending_reviews %}
        <div class="col-12 col-md-6 col-lg-4 mb-4">

            <div class="card pending-item {% if review.is_approved == 'approved' %}approved{% elif review.is_approved == 'rejected' %}rejected{% endif %}"
                onclick="redirectToReviewDetails('{{ review.id }}')">
                <div class="card-body">
                    <div class="username-admin">
                        {{ review.user }}
                    </div>
                    <div class="font-italic admin-content-text">
                        "{{ review.review }}"
                    </div>
                    <div class="review-button-container mt-3">
                        <a class="edit-button" href="{% url 'approve-review' review.id %}">Approve</a>
                        <a class="delete-button" href="{% url 'reject-review' review.id %}">Reject</a>
                    </div>
                    <div class="created_at-style">
                        {{ review.created_at }}
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>



    {% else %}
    <div class="no-pending-item">
        <p class="no-pending-item-text">No pending reviews.</p>
    </div>
    {% endif %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.edit-button').click(function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            var $parentCard = $(this).closest('.pending-item');
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    $('.pending-item').removeClass('approved rejected');
                    $parentCard.addClass('approved');
                    $parentCard.find('.card-body').addClass('invisible');

                    // Slide up and disappear after 2 seconds
                    setTimeout(function () {
                        $parentCard.slideUp(400, function () {
                            $(this).remove();
                            checkPendingItems
                                (); // Check if any items left after removal
                        });
                    }, 2000);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        $('.delete-button').click(function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            var $parentCard = $(this).closest('.pending-item');
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    $('.pending-item').removeClass('approved rejected');
                    $parentCard.addClass('rejected');
                    $parentCard.find('.card-body').addClass('invisible');
                    $parentCard.find('.username-admin').addClass('invisible');

                    // Slide up and disappear after 2 seconds
                    setTimeout(function () {
                        $parentCard.slideUp(400, function () {
                            $(this).remove();
                            checkPendingItems
                                (); // Check if any items left after removal
                        });
                    }, 2000);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        function checkPendingItems() {
            // Check if there are any pending items left
            if ($('.pending-item').length === 0) {
                // Reload the page after 2 seconds if no pending items are left
                setTimeout(function () {
                    location.reload();
                }, 2000);
            }
        }


    });
</script>

{% endblock %}