{% extends "base.html" %}

{% block title %}Review Submission{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Review Submission</h1>
            <div class="alert alert-info" role="alert">
                Your review has been updated and is awaiting approval.
            </div>
            <a href="{% url 'review-list' %}" class="btn custom-buttons">Back to Reviews</a>
        </div>
    </div>
</div>
{% endblock %}
