{% extends 'base.html' %}
{% load static %}

{% block title %}Check Room Availability{% endblock %}

{% block content %}
<div class="check_avialability_container">

    <div class="reservation-title">Check Availability</div>
    <div class="form-container" id="form-container">
        <p class="form-room-description">{{ room.description }}</p>
        <p class="form-room-capacity">Capacity: {{ room.capacity }}</p>
        <div class="check_availability_form_container">
            <form method="post" id="availabilityForm">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_check_in">Check-In:</label>
                    <input type="date" class="form-control" id="id_check_in" name="check_in">
                </div>
                <div class="form-group">
                    <label for="id_check_out">Check-Out:</label>
                    <input type="date" class="form-control" id="id_check_out" name="check_out">
                </div>
                <p class="form-room-price">Price per night:<strong>{{ room.price }} $</strong></p>
                <div class="form-group">
                    <button id="room_availability_button" type="button" class="btn edit-button">Check
                        Availability</button>
                </div>
            </form>
        </div>
    </div>
    <h1 class="form-room-title">Room {{ room.room_number }}</h1>
    <div id="loading" class="loading" style="display: none;">Checking availability...</div>
    <div id="result"></div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('room_availability_button').onclick = function (event) {
            event.preventDefault();

            const button = document.getElementById('room_availability_button');
            const formContainer = document.getElementById('form-container');
            const loadingDiv = document.getElementById('loading');
            const resultDiv = document.getElementById('result');

            formContainer.style.display = "none";
            button.disabled = true;
            loadingDiv.style.display = 'block';
            resultDiv.innerHTML = '';

            const formData = new FormData(document.getElementById('availabilityForm'));
            fetch("{% url 'check_availability' room.id %}", {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'X-CSRFToken': document.querySelector('input[name="csrfmiddlewaretoken"]').value
                    }
                })
                .then(response => response.json())
                .then(data => {
                    button.disabled = false;
                    loadingDiv.style.display = 'none';

                    if (data.available) {
                        const checkInDate = data.check_in;
                        const checkOutDate = data.check_out;
                        const roomId = data.room_id;
                        window.location.href =
                            `/bookings/reserve-room/${roomId}/?check_in=${checkInDate}&check_out=${checkOutDate}`;
                    } else {
                        resultDiv.innerHTML = `<p class="availability-message">${data.message}</p>`;
                        if (data.alternative_rooms && data.alternative_rooms.length > 0) {
                            resultDiv.innerHTML += '<p class="card-title">Available rooms:</p>';
                            resultDiv.innerHTML += '<div class="container"><div class="row">';
                            data.alternative_rooms.forEach(room => {
                                resultDiv.innerHTML += `
                                <div class="col-12 col-md-6 col-lg-4 alternative-room-container">
                                    <div class="alternative-room">
                                        <img src="${room.featured_image}" class="card-img-top" alt="${room.room_type}">
                                        <div class="card-body">
                                            <p>Room Number: ${room.room_number}</p>
                                            <p class="alternate-room-description">Description: ${room.description}</p>
                                            <p class="alternate-room-price">Price per night: $${room.price}</p>
                                            <button data-room-id="${room.room_id}" 
                                                    data-check-in="${data.check_in}" 
                                                    data-check-out="${data.check_out}"
                                                    class="selectAlternativeButton btn edit-button">Select Room ${room.room_number}</button>
                                        </div>
                                    </div>
                                </div>
                            `;
                            });
                            resultDiv.innerHTML += '</div></div>';

                            document.querySelectorAll('.selectAlternativeButton').forEach(button => {
                                button.onclick = function () {
                                    const alternativeRoomId = this.getAttribute(
                                        'data-room-id');
                                    const checkInDate = this.getAttribute('data-check-in');
                                    const checkOutDate = this.getAttribute(
                                        'data-check-out');
                                    window.location.href =
                                        `/bookings/reserve-room/${alternativeRoomId}/?check_in=${checkInDate}&check_out=${checkOutDate}`;
                                };
                            });
                        }
                    }
                })
                .catch(error => {
                    button.disabled = false;
                    loadingDiv.style.display = 'none';
                    resultDiv.innerHTML =
                        '<p>There was an error checking availability. Please try again.</p>';
                    console.error('Error:', error);
                });
        };
    });
</script>

{% endblock %}