{% extends 'base.html' %}
{% load static %}

{% block title %}Check Room Availability{% endblock %}

{% block content %}
<div class="check_avialability_container">

    <div class="reservation-title">Check Availability</div>
    <div class="form-container" id="form-container">
        <p class="form-room-description">{{ room.description }}</p>
        <p class="form-room-capacity">Capacity: {{ room.capacity }}</p>
        <div class="check_availability_form_container">
            <form method="post" id="availabilityForm">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_check_in">Check-In:</label>
                    <input type="date" class="form-control datepicker" id="id_check_in" name="check_in" required>
                </div>
                <div class="form-group">
                    <label for="id_check_out">Check-Out:</label>
                    <input type="date" class="form-control datepicker" id="id_check_out" name="check_out">
                </div>
                <p class="form-room-price">Price per night:<strong>{{ room.price }} $</strong></p>
                <div class="form-group">
                    <button id="room_availability_button" type="button" class="availability_button">Check</button>
                </div>
            </form>
        </div>
    </div>
    <h1 class="form-room-title">Room {{ room.room_number }}</h1>
    <div id="loading" class="loading" style="display: none;">Checking availability...</div>
    <div id="result"></div>
</div>

<div id="customAlert" class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none;">
    Please select both Check-In and Check-Out dates.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Get today's date in YYYY-MM-DD format
        let today = new Date().toISOString().split('T')[0];

        // Set min attribute for check-in and check-out date pickers
        $('#id_check_in').attr('min', today);
        $('#id_check_out').attr('min', today);

        // Initialize datepicker
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            todayHighlight: true,
            startDate: today // Disable past dates
        });
    });
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('room_availability_button').onclick = function (event) {
            event.preventDefault();


            let checkInDate = $('#id_check_in').val();
            let checkOutDate = $('#id_check_out').val();

            // Check if both Check-In and Check-Out dates are selected
            if (!checkInDate || !checkOutDate) {
                alert('Please select both dates');
                return;
            }

            // Parse dates to compare them
            let checkIn = new Date(checkInDate);
            let checkOut = new Date(checkOutDate);

            // Check if Check-In date is after Check-Out date
            if (checkIn >= checkOut) {
                alert('Check-In date must be earlier than Check-Out date.');
                return;
            }

            const button = document.getElementById('room_availability_button');
            const formContainer = document.getElementById('form-container');
            const loadingDiv = document.getElementById('loading');
            const resultDiv = document.getElementById('result');

            formContainer.style.display = "none";
            button.disabled = true;
            loadingDiv.style.display = 'block';
            resultDiv.innerHTML = '';

            const formData = new FormData(document.getElementById('availabilityForm'));
            fetch("{% url 'check_availability' room.id %}", {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'X-CSRFToken': document.querySelector('input[name="csrfmiddlewaretoken"]').value
                    }
                })
                .then(response => response.json())
                .then(data => {
                    button.disabled = false;
                    loadingDiv.style.display = 'none';

                    if (data.available) {
                        const checkInDate = data.check_in;
                        const checkOutDate = data.check_out;
                        const roomId = data.room_id;
                        window.location.href =
                            `/bookings/reserve-room/${roomId}/?check_in=${checkInDate}&check_out=${checkOutDate}`;
                    } else {
                        resultDiv.innerHTML = `<div class="availability-message">${data.message}</div>`;
                        if (data.alternative_rooms && data.alternative_rooms.length > 0) {
                            resultDiv.innerHTML += '<p class="card-title">Available rooms:</p>';
                            resultDiv.innerHTML += '<div class="container"><div class="row">';
                            data.alternative_rooms.forEach(room => {
                                resultDiv.innerHTML += `
                                <div class="col-12 col-md-6 col-lg-4 alternative-room-container">
                                    <div class="alternative-room">
                                        <img src="${room.featured_image}" class="card-img-top" alt="${room.room_type}">
                                        <div class="card-body">
                                            <p>Room Number: ${room.room_number}</p>
                                            <p class="alternate-room-price">Price per night: $${room.price}</p>
                                            <p class="alternate-room-description"> ${room.description}</p>
                                            <button data-room-id="${room.room_id}" 
                                                    data-check-in="${data.check_in}" 
                                                    data-check-out="${data.check_out}"
                                                    class="selectAlternativeButton edit-button">Select Room ${room.room_number}</button>
                                        </div>
                                    </div>
                                </div>
                            `;
                            });
                            resultDiv.innerHTML += '</div></div>';

                            document.querySelectorAll('.selectAlternativeButton').forEach(button => {
                                button.onclick = function () {
                                    const alternativeRoomId = this.getAttribute(
                                        'data-room-id');
                                    const checkInDate = this.getAttribute('data-check-in');
                                    const checkOutDate = this.getAttribute(
                                        'data-check-out');
                                    window.location.href =
                                        `/bookings/reserve-room/${alternativeRoomId}/?check_in=${checkInDate}&check_out=${checkOutDate}`;
                                };
                            });
                        }
                    }
                })
                .catch(error => {
                    button.disabled = false;
                    loadingDiv.style.display = 'none';
                    resultDiv.innerHTML =
                        '<p>There was an error checking availability. Please try again.</p>';
                    console.error('Error:', error);
                });
        };
    });
</script>

{% endblock %}