<!-- bookings/reserve_room.html -->

{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="reservation-background">
  <h2 class="reservation-title">Reserve Room</h2>
  <div class="room-reservation-container ">
    <div class="col-md-6 room-information" id="room-information">
      <h4>Room Information</h4>
      <p><strong>Room Number:</strong> {{ room.room_number }}</p>
      <p><strong>Type:</strong> {{ room.room_type }}</p>
      <p><strong>Description:</strong> {{ room.description }}</p>
      <p><strong>Price per Night:</strong> $<span id="pricePerNight"
          data-price="{{ room.price }}">{{ room.price }}</span></p>

      {% if room.featured_image %}
      <img src="{{ room.featured_image.url }}" alt="Room Image" class="room-info_image">
      {% else %}
      <p>No image available</p>
      {% endif %}
    </div>

    <div class="col-md-6">
      <div class="available-badge">
        <p>AVAILABLE</p>
      </div>

      <h4>Reservation Form</h4>

      <form id="reservation-form" method="post" action="{% url 'reserve_room' room.id %}">
        {% csrf_token %}

        <!-- Hidden field for room ID -->
        <input type="hidden" id="id_room_id" name="room_id" value="{{ room.id }}">

        <!-- Hidden field for name -->
        <input type="hidden" id="id_name" name="name"
          value="{{ request.user.first_name }} {{ request.user.last_name }}">

        <!-- Checkbox to apply discount -->
        <div class="form-check" id="check-box-visibility-style">
          <input class="form-check-input" type="checkbox" id="applyDiscountCheckbox" name="apply_discount">
          <label class="form-check-label" for="applyDiscountCheckbox">Check to apply discount</label>
        </div>

        <!-- Form fields -->
        <div class="form-group">
          <label for="id_first_name" class="label-first-name">First Name:</label>
          <input type="text" id="id_first_name" name="first_name" class="form-control"
            placeholder="Enter your first name" value="{{ request.user.first_name }}" required>
        </div>
        <div class="form-group">
          <label for="id_last_name" class="label-last-name">Last Name:</label>
          <input type="text" id="id_last_name" name="last_name" class="form-control" placeholder="Enter your last name"
            value="{{ request.user.last_name }}" required>
        </div>
        <div class="form-group">
          <label for="id_email" class="label-email">Email:</label>
          <input type="email" id="id_email" name="email" class="form-control" placeholder="Enter your email"
            value="{{ request.user.email|default_if_none:'' }}" required>

        </div>
        <div class="form-group">
          <label for="id_phone" class="label-phone">Phone:</label>
          <input type="tel" id="id_phone" name="phone" class="form-control" placeholder="Enter your phone number"
            required>
        </div>
        <div class="form-group">
          <label for="id_checkin_date" class="label-checkin-date">Check-in Date:</label>
          <input type="date" id="id_checkin_date" name="checkin_date" class="form-control"
              value="{{ form.initial.checkin_date }}" required>
      </div>
      <div class="form-group">
          <label for="id_checkout_date" class="label-checkout-date">Check-out Date:</label>
          <input type="date" id="id_checkout_date" name="checkout_date" class="form-control"
              value="{{ form.initial.checkout_date }}" required>

        <!-- Submit button -->
        <button type="submit" class="btn edit-button" id="reserveButton">Reserve Room</button>
      </form>

    </div>
  </div>
</div>

<!-- Modals -->
<div class="modal" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog custom-modal-dialog">
    <div class="modal-content">
      <div class="modal-header custom-modal-header">
        <h5 class="modal-title">Confirm Reservation</h5>
      </div>
      <div class="modal-body custom-modal-body">
        <p>Are you sure you want to submit this reservation?</p>
        <p>Please review the details carefully before confirming.</p>
      </div>
      <div class="modal-footer custom-modal-footer">
        <button type="button" class="btn custom-buttons" data-bs-dismiss="modal">Review</button>
        <button type="button" class="btn custom-buttons" id="confirmReservationBtn">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade custom-reservation-modal" id="reservationModal" tabindex="-1"
  aria-labelledby="reservationModalLabel" aria-hidden="true">
  <div class="modal-dialog custom-reservation-modal-dialog">
    <div class="modal-content custom-reservation-modal-content">
      <div class="modal-header custom-reservation-modal-header">
        <h5 class="modal-title" id="reservationModalLabel">Reservation Details</h5>
        <a href="{% url 'home' %}" class="delete-button" role="button" aria-label="Close">Close</a>
      </div>
      <div class="modal-body custom-reservation-modal-body" id="reservationModalBody">
        <!-- Reservation details will be inserted here -->
      </div>
      <div class="modal-footer custom-reservation-modal-footer">

      </div>
    </div>
  </div>
</div>

<div class="modal fade custom-thankyou-modal" id="thankYouModal" tabindex="-1" aria-labelledby="thankYouModalLabel"
  aria-hidden="true">
  <div class="modal-dialog custom-thankyou-modal-dialog">
    <div class="modal-content custom-thankyou-modal-content">
      <div class="modal-header custom-thankyou-modal-header">
        <h5 class="modal-title">Thank You!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">close</button>
      </div>
      <div class="modal-body custom-thankyou-modal-body">
        <p>Thank you for choosing us as your home. We hope you have a pleasant stay! Your reservation is received and
          waiting for confirmation</p>
      </div>
      <div class="modal-footer custom-thankyou-modal-footer">
        <button id="thankYouCloseBtn" type="button" class="btn custom-buttons" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    // Retrieve is_discount from local storage
    let is_discount = localStorage.getItem('is_discount') === 'true';
    console.log("IS DISCOUNT RESERVATION " + is_discount);

    // Show or hide check-box-visibility-style based on is_discount
    if (is_discount) {
      $('#check-box-visibility-style').show();
    } else {
      $('#check-box-visibility-style').hide();
    }

    // Function to handle form submission
    function submitReservationForm(event) {
      event.preventDefault(); // Prevent the default form submission

      // Perform date validation
      var checkin_date = $('#id_checkin_date').val();
      var checkout_date = $('#id_checkout_date').val();

      // Convert date strings to Date objects for comparison
      var checkinDateObj = new Date(checkin_date);
      var checkoutDateObj = new Date(checkout_date);

      // Validate check-out date is after check-in date
      if (checkinDateObj >= checkoutDateObj) {
        alert('Check-Out date must be after Check-In date.');
        return; // Exit function if validation fails
      }

      // Proceed with form submission via AJAX if validation passes
      var form = $(this);
      var formData = form.serialize();

      $.ajax({
        url: form.attr('action'), // The form's action URL
        type: 'POST',
        data: formData,
        dataType: 'json',
        success: function (data) {
          if (data.room_number) {
            // Prepare the HTML for reservation details
            var reservationDetailsHtml =
              '<p><strong>Room Number:</strong> ' + data.room_number + '</p>' +
              '<p><strong>Room Type:</strong> ' + data.room_type + '</p>' +
              '<p><strong>Check-in Date:</strong> ' + data.checkin_date + '</p>' +
              '<p><strong>Check-out Date:</strong> ' + data.checkout_date + '</p>' +
              '<p><strong>Price:</strong> ' + data.total_price + '</p>';

            // Prepare the HTML for discount applied info based on is_discount
            var discountAppliedHtml = '';
            if (is_discount) {
              discountAppliedHtml = '<p><span class="badge bg-success">10% Discount Applied</span></p>';
            }

            // Combine reservation details and discount info
            var modalContentHtml = reservationDetailsHtml + discountAppliedHtml;

            // Update modal body with content
            $('#reservationModalBody').html(modalContentHtml);

            // Show the modal
            $('#reservationModal').modal('show');

            // Set up close button behavior
            $('#reservation_modal_close_button').click(function () {
              is_discount = false;
              console.log("AFTER DISPLAY " + is_discount);

              $('#reservationModal').modal('hide');
              $('#thankYouModal').modal('show');
            });
          } else {
            console.error('Error: Room not available or other error');
          }
        },
        error: function (error) {
          console.error('Error:', error);
        },
        complete: function () {
          $('#confirmationModal').modal('hide');
        }
      });
    }

    // Attach the event listener to the form
    $('#reservation-form').submit(submitReservationForm);

    $('#thankYouCloseBtn').click(function () {
      window.location.href = "{% url 'home' %}";
    });

    $('#applyDiscountCheckbox').change(function () {
      var isChecked = $(this).is(':checked');
      if (isChecked) {
        console.log('Discount applied');
      } else {
        console.log('Discount not applied');
      }
    });
  });
</script>


{% endblock %}