{% extends 'base.html' %}

{% block content %}

<div class="pending-reservation-container">
    <h1 class="admin-titles">Pending Reservations</h1>

    <div class="row  pending-reservation-card-container">
        {% for reservation in pending_reservations %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="pending-item card mb-3">
                <div class="card-body">
                    <div class="username-admin card-title">
                        {{ reservation.user }}
                        <!-- Adjust this according to your Reservation model -->
                    </div>
                    <div class="font-italic card-text">
                        <!-- Display any relevant information about the reservation -->
                        <!-- For example, reservation details like date, time, etc. -->

                        <div class="approval-reservation-list">
                            <div>Status: {{ reservation.get_reservation_status_display }}</div>
                            Check-In Date: {{ reservation.checkin_date }}<br>
                            Check-Out Date: {{ reservation.checkout_date }}<br>
                            Name: {{ reservation.name }}<br>
                            Price: {{ reservation.price }}<br>

                            <div class="admin-button-container mt-2">
                                <a class="edit-button"
                                    href="{% url 'approve-reservation' reservation.id %}">Approve</a>
                                <a class="delete-button"
                                    href="{% url 'reject-reservation' reservation.id %}">Reject</a>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}