{% extends 'base.html' %}

{% block content %}
<h1 class="admin-titles">Pending Reservations</h1>
<ul class="list-class aproval-admin-reservation-dashboard">
    {% for reservation in pending_reservations %}
    <li class="pending-item">
        <div class="username-admin">
            {{ reservation.user }}
            <!-- Adjust this according to your Reservation model -->
        </div>
        <div class="font-italic">
            <!-- Display any relevant information about the reservation -->
            <!-- For example, reservation details like date, time, etc. -->

            <div class="aproval-reservatioon-list">
                <div>Status: {{ reservation.get_reservation_status_display }}</div>

                Check In date: {{ reservation.checkin_date}}<br>
                Check Out: {{ reservation.checkout_date }}<br>
                name: {{ reservation.name }}<br>
                Price: {{ reservation.price }}<br>
            </div>
        </div>
        <div class="admin-button-conatiner">
            <a class=" btn custom-buttons" href="{% url 'approve-reservation' reservation.id %}">Approve</a>
            <a class="btn custom-buttons" href="{% url 'reject-reservation' reservation.id %}">Reject</a>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}