{% extends 'base.html' %}

{% block content %}
<h1 class="admin-titles">Pending Reservations</h1>
<ul class="list-class">
    {% for reservation in pending_reservations %}
    <li class="pending-item">
        <div class="username-admin">
            {{ reservation.user }} <!-- Adjust this according to your Reservation model -->
        </div>
        <div class="font-italic">
            <!-- Display any relevant information about the reservation -->
            <!-- For example, reservation details like date, time, etc. -->
            <div>Status: {{ reservation.get_reservation_status_display }}</div> <!-- Use get_reservation_status_display() -->

            Check In date: {{ reservation.checkin_date}}
            Check Out: {{ reservation.checkout_date }}
            name: {{ reservation.name }}
            Price: {{ reservation.price }}
        </div>
        <div class="admin-button-conatiner">
            <a class="approve-btn" href="{% url 'approve-reservation' reservation.id %}">Approve</a>
            <a class="reject-btn" href="{% url 'reject-reservation' reservation.id %}">Reject</a>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
