{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="reservation-background">
  <h2 class="reservation-title">Reserve Room</h2>
  <div class="room-reservation-container ">
    <div class="col-md-6 room-information" id="room-information">
      <h4>Room Information</h4>
      <p><strong>Room Number:</strong> {{ room.room_number }}</p>
      <p><strong>Type:</strong> {{ room.room_type }}</p>
      <p><strong>Description:</strong> {{ room.description }}</p>
      <p><strong>Price per Night:</strong> $<span id="pricePerNight" data-price="{{ room.price }}">{{ room.price }}</span></p>

      {% if room.featured_image %}
      <img src="{{ room.featured_image.url }}" alt="Room Image" class="room-info_image">
      {% else %}
      <p>No image available</p>
      {% endif %}
    </div>

    <div class="col-md-6">
      <h4>Reservation Form</h4>

      <form id="reservation-form" method="post" action="{% url 'reserve_room' room.id %}">
        {% csrf_token %}
        <input type="hidden" id="id_room_id" name="room_id" value="{{ room.id }}">

        <div class="form-group">
          <label for="id_name" class="label-name">Name:</label>
          <input type="text" id="id_name" name="name" class="form-control" placeholder="Enter your name" required>
        </div>
        <div class="form-group">
          <label for="id_email" class="label-email">Email:</label>
          <input type="email" id="id_email" name="email" class="form-control" placeholder="Enter your email" required>
        </div>
        <div class="form-group">
          <label for="id_phone" class="label-phone">Phone:</label>
          <input type="tel" id="id_phone" name="phone" class="form-control" placeholder="Enter your phone number" required>
        </div>
        <div class="form-group">
          <label for="id_checkin_date" class="label-checkin-date">Check-in Date:</label>
          <input type="date" id="id_checkin_date" name="checkin_date" class="form-control hidden-input" value="{{ form.initial.checkin_date }}" required>
          <div class="date-display">{{ form.initial.checkin_date }}</div>
      </div>
      <div class="form-group">
          <label for="id_checkout_date" class="label-checkout-date">Check-out Date:</label>
          <input type="date" id="id_checkout_date" name="checkout_date" class="form-control hidden-input" value="{{ form.initial.checkout_date }}" required>
          <div class="date-display">{{ form.initial.checkout_date }}</div>
      </div>

        <button type="submit" class="btn custom-buttons center-button" id="reserveButton">Reserve Room</button>
      </form>
    </div>
  </div>
</div>

<div class="modal" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog custom-modal-dialog">
    <div class="modal-content ">
      <div class="modal-header custom-modal-header">
        <h5 class="modal-title">Confirm Reservation</h5>
        <button type="button" class="close custom-close custom-buttons" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body custom-modal-body">
        <p>Are you sure you want to submit this reservation?</p>
        <p>Please review the details carefully before confirming.</p>
      </div>
      <div class="modal-footer custom-modal-footer">
        <button type="button" class="btn custom-buttons" data-dismiss="modal">Review</button>
        <button type="button" class="btn custom-buttons" id="confirmReservationBtn">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade custom-reservation-modal" id="reservationModal" tabindex="-1" aria-labelledby="reservationModalLabel" aria-hidden="true">
  <div class="modal-dialog custom-reservation-modal-dialog">
    <div class="modal-content custom-reservation-modal-content">
      <div class="modal-header custom-reservation-modal-header">
        <h5 class="modal-title" id="reservationModalLabel">Reservation Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body custom-reservation-modal-body" id="reservationModalBody">
        <!-- Reservation details will be inserted here -->
      </div>
      <div class="modal-footer custom-reservation-modal-footer">
        <button type="button" class="btn custom-buttons" data-bs-dismiss="modal" id="reservation_modal_close_button">Exit</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade custom-thankyou-modal" id="thankYouModal" tabindex="-1" aria-labelledby="thankYouModalLabel" aria-hidden="true">
  <div class="modal-dialog custom-thankyou-modal-dialog">
    <div class="modal-content custom-thankyou-modal-content">
      <div class="modal-header custom-thankyou-modal-header">
        <h5 class="modal-title">Thank You!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body custom-thankyou-modal-body">
        <p>Thank you for choosing us as your home. We hope you have a pleasant stay! Your reservation is received and waiting for confirmation</p>
      </div>
      <div class="modal-footer custom-thankyou-modal-footer">
        <button id="thankYouCloseBtn" type="button" class="btn custom-buttons" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('#reservation-form').submit(function(event) {
      event.preventDefault();
      $('#confirmationModal').modal('show');
    });

    $('#confirmReservationBtn').click(function() {
      var formData = $('#reservation-form').serialize();
      $.ajax({
        type: 'POST',
        url: '{% url "reserve_room" room.id %}',
        data: formData,
        dataType: 'json',
        success: function(data) {
          if (data.room_number) {
            $('#reservationModalBody').html(
              '<p><strong>Room Number:</strong> ' + data.room_number + '</p>' +
              '<p><strong>Room Type:</strong> ' + data.room_type + '</p>' +
              '<p><strong>Check-in Date:</strong> ' + data.checkin_date + '</p>' +
              '<p><strong>Check-out Date:</strong> ' + data.checkout_date + '</p>' +
              '<p><strong>Total Price:</strong> $' + data.total_price + '</p>'
            );
            $('#reservationModal').modal('show');
            $('#reservation_modal_close_button').click(function() {
              $('#reservationModal').modal('hide');
              $('#thankYouModal').modal('show');
            });
          } else {
            console.error('Error: Room not available or other error');
          }
        },
        error: function(error) {
          console.error('Error:', error);
        },
        complete: function() {
          $('#confirmationModal').modal('hide');
        }
      });
    });

    $('#thankYouCloseBtn').click(function() {
      window.location.href = "{% url 'home' %}";
    });
  });
</script>

{% endblock %}
