<!-- rooms.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class=" rooms-content-background">
    
    
    <h1 class="text-center room-type-title">{{ room_type|capfirst }} Rooms</h1>
    <div class="row room-container">
        {% for room in rooms %}
        <div class="col-md-4 room-card-container">
            <div class="card mb-4 shadow-sm room-card">
                <a class="card-body" href="{% url 'room_detail' room.id %}">

                <h5 class="card-title"> {{ room.room_type }}  {{ room.room_number }}</h5>

                {% if "placeholder" in post.featured_image.url %}
                <img class="card-img-top" src="{% static 'images/room1.jpg' %}"
                  alt="placeholder image">
                {% else %}
                <img class="card-img-top" src=" {{ room.featured_image.url }}"
                  alt="{{ room.room_type }}">
                {% endif %}
               
                    <p class="card-text">{{ room.description }}</p>
                    <p class="card-price"><strong>${{ room.price }}</strong> night</p>
                </a>
                <a href="{% url 'check_availability' room.id %}" class="availability_button">
                    Check Availability
                </a>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}