<!-- rooms.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        {% for room in rooms %}
        <div class="col-md-4 book-room-card">
            <div class="card room-card animate__animated animate__fadeInUp">
                <img src="{% static 'images/room1.jpg' %}" class="card-img-top" alt="Room Image">
                <div class="card-body">
                    <h5 class="card-title">{{ room.room_type }}</h5>
                    <p class="card-text">{{ room.description }}</p>
                    <p class="card-text"><strong>$ {{ room.price }} per night</strong></p>
                    <form action="{% url 'room_details' room_type=room.room_type %}" method="get">
                        <button type="submit" class="btn btn-primary booking-btn">View Details</button>
                    </form>
                    {% if room.available %}
                    <span class="badge badge-success badge-pill availability-badge">Available</span>
                    {% else %}
                    <span class="badge badge-danger badge-pill availability-badge">BOOKED OUT</span>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
