{% extends "base.html" %}
 {% load static %}

{% block content %}
<div class="login-out-container">
  
    <div class="logo-container mt-5 mb-2">
        <img id="logo" src="{% static 'images/hv-logo.jpg' %}" alt="Logo Image">
        <p>Hotel Wantit</p>
    </div>
    <h3 class="text-white signup-title p-2">Admin Dashboard</h3>
    <div class="row">
        <!-- Reservations Card -->
      <div class="col-md-4">
    <a href="{% url 'reservation-approval-list' %}" class="card-link">
        <div class="text-white card-body reservations-details-content">
            <div class="pending-reservation-item">
                <h5 class="card-title">Reservations</h5>
                <p class="attention-required">You have: {{ pending_reservations_count }} reservations</p>
                <p class="card-text">Manage and approve reservations.</p>
                <div></div>
            </div>
        </div>
    </a>
</div>

        <!-- Comments Card -->
        <div class="col-md-4">
            <a href="{% url 'comment-approval-list' %}" class="card-link">
                <div class=" text-white card-body reservations-details-content">

                    <div class="pending-reservation-item">                       
                        <h5 class="card-title">Comments</h5>
                        <p class="attention-required">You have: {{ pending_comments_count }} comment</p>

                        <p class="card-text">Review and moderate comments.</p>
                        <div></div>

                    </div>
                </div>
            </a>
        </div>
        <!-- Reviews Card -->
        <div class="col-md-4">
            <a href="{% url 'review-approval-list' %}" class="card-link">
                <div class=" text-white card-body reservations-details-content">

                    <div class="pending-reservation-item">
                        <h5 class="card-title">Reviews</h5>
                        <p class="attention-required">You have: {{ pending_reviews_count }} reviews</p>

                        <p class="card-text">Approve and manage reviews.</p>
                        <div></div>


                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}