/*<a href="https://www.freepik.com/free-photo/young-adult-organizing-documents_26298132.htm#fromView=search&page=1&position=9&uuid=111ae784-2a8f-4e14-981d-9371d9795993">Image by freepik</a>*/

/* GENERAL STYLES*/


/**HEADER**/

.header-container {
    border-bottom: 4px solid silver;
    animation: slideInFromTop 0.6s ease-in-out;
    display: flex;
    flex-direction: row;

}

.nav-container {
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    background-color: rgba(1, 38, 41, 0.5);
    animation: slideInFromLeft 1.5s ease-in-out;
    padding-bottom: 5px;
    border-bottom: 1px solid silver;
    height: 50px;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    margin-right: 20px;


}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-top: 5px;
}



.navbar-collapse {
    transition: all 1s ease;
}

.avbar {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.avbar .nav-item {
    padding-right: 10px;
    color: white;
    text-align: right;

}

.avbar .nav-link {

    color: rgb(255, 255, 255);

    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    /* Smooth transition for hover effect */

}



.active-link {
    border-left: 2px solid silver;
    border-right: 2px solid silver;
    background-color: #000604;
    font-size: 1.1rem;
    animation: zoomIn 1.8s ease-in;
}

.nav-link i {
    margin-right: 8px;
    transition: background-color 0.3s, color 0.3s;
}

/* Hover effect for nav links */
.nav-link:hover {
    background-color: silver;
    color: black;
}


.nav-link:hover i {
    color: black;

}

.navbar-toggler-icon {
    background-image: none;
    width: 1.5em;
    height: 2px;
    background-color: silver;
    position: relative;
    padding: 1px;
    align-self: center;
    border-radius: 4px;
}

/* Create the lines for the hamburger icon */
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    /* Inherit the background color */
    position: absolute;
    left: 0;
    transition: transform 0.3s ease;
    /* Add transition effect */
}

/* Position the lines for the hamburger icon */
.navbar-toggler-icon::before {
    top: -6px;
}

.navbar-toggler-icon::after {
    bottom: -6px;
}

/* Add hover effect */
.navbar-toggler-icon:hover::before,
.navbar-toggler-icon:hover::after {
    transform: scale(1.1);
    /* Scale the lines on hover */
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0 !important;

}

.dropdown-item {
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 !important;
    color: rgb(255, 255, 255) !important;
    height: 100%;
    padding: 0 !important;
}

/*CHAT*/
.floating-chat {
    background-color: #b30021;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 0.7rem;
}

.floating-chat i {
    margin-right: 8px;
}

label {
    color: #f8f9fa;
}

.chat-body {
    animation: slideFromRight 0.7s ease-in-out;

}

.chat-header {
    display: flex;
    justify-content: space-between;
    animation: slideInFromTop 1.3s ease-in-out;

}

.chat-footer {
    animation: slideInFromBottom 1.3s ease-in-out;

}

.chat-window {
    position: fixed;
    bottom: 80px;
    /* Adjust according to floating chat button position */
    right: 10px;
    width: 300px;
    height: 400px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: none;
    /* Initially hidden */
    flex-direction: column;
    animation: slideInFromRight 0.7s ease-in-out;

}

.chat-header {
    background-color: #b30000;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chat-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.chat-footer {
    padding: 10px;
    border-top: 1px solid #ccc;
}

.chat-footer input {
    width: calc(100% - 60px);
    padding: 5px;
}

.chat-footer button {
    width: 50px;
    background-color: #b30000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.floating-chat-container {
    display: none;
    position: fixed;
    z-index: 1000000000;
    bottom: 20px;
    animation: slideInFromRight 1.2s ease-in-out;
    right: 20px;
    /* distance from the right of the viewport */
}


/*MAIN CONTENT*/
.main-content-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    background-image: url("../images/lobby.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*LOGO STYLES*/

.logo-container {
    position: absolute;
    top: 50px;
    left: 10px;
    text-align: center;
    padding: 20px 10px 0px 10px;
    background-color: rgba(10, 89, 0, 0.2);
    color: white;
    font-family: Oswald;
    font-weight: 800;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

#logo {
    width: 60px;
    border-radius: 50%;
    border: 3px solid silver;
}


/*MAIN CONTENT HOMEPAGE SLIDE STYLES*/
.slide-holder {
    height: 400px;
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    animation: zoomIn 0.9s ease-in-out;
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 400px;
    max-width: 800px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(255, 246, 246, 0.5);
    animation: zoomIn 1s ease-in;
}

.slide {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    transition: left 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    color: #fff;
    text-align: center;
    height: 150px;
    opacity: 0;
    animation: fadeIn 2s forwards;
    font-family: Oswald;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    margin-bottom: 20px;
    height: auto;
}

.main-content-background img {
    width: 100%;
}

/*REVIEW in the SLIDE*/

.review {
    padding: 15px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    color: white;
    animation: zoomIn 1s ease-in;

}

.review-body {
    font-size: 1em;
    margin: 10px 0;

}

.review-author {
    font-size: 1.3em;
    color: #ffffff;
    margin-left: 10px;
}

.review-date {
    font-size: 0.8em;
    color: #aaa;
    float: right;
}

.stars {
    color: gold;
    font-size: 1.3em;
    border-radius: px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    width: 20%;

}

.action-button {
    position: absolute;
    bottom: 10px;
    padding: 5px 10px;
    font-size: 18px;
    color: #fff;
    background-color: #b30000 !important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.review-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    margin-top: 30px;
    color: white;
}

/*all REVIEWS*/
/* CSS for reviews page */
#reviews-page .container {

    background-color: rgba(255, 255, 255, 0.1);
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

}


#reviews-page {
    margin-top: 0;
    animation: zoomIn 1.2s ease-in;
    min-height: 100vh !important;
    background-image: url("../images/reviews-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Adjust background size and position as needed */


}

.reviews-header {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
    color: #ffffff;
    margin-top: 60px;
}

.reviews-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.review-item {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
    color: white !important;
    box-shadow: 0 2px 5px rgba(255, 254, 254, 0.1);
    border-bottom: 3px solid silver;
}

.review-text {
    font-size: 1.4em;
    margin-bottom: 10px;
    font-style: italic;
    text-align: center;
    color: whitesmoke;
    background-color: rgba(111, 0, 0, 0.8);

}

.review-author,
.review-date {
    font-size: 1.3em;
    color: #e6e3e3;
}

/*LEAVE COMMENT*/

.floating-button {
    position: fixed;
    top: 55px;
    left: 20px;
    background-color: #bd1010;
    color: #fff;
    padding: 5px 10px;
    border: 2px solid #c0c0c0;
    border-radius: 20px;
    cursor: pointer;
    z-index: 1000;
    animation: slideInFromLeft 1.3s ease-in-out;
}

.floating-button:hover {
    background-color: #cc0000;
    /* Darker red on hover */
}


/* AUTHENTICATION STYLES */
.sign-out-confirmation-container {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 20px 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sign-out-confirmation-row {

    background-color: rgba(255, 0, 0, 0.2);
    text-align: center;


}

/*CUSTOM BUTTONS*/

.button-container {
    margin: 0 !important;
    background-color: rgba(92, 86, 86, 0.3);
    display: flex;
    justify-content: center;
    margin-top: 30px !important;
    border-radius: 20px;

}

.custom-buttons {
    background-color: rgba(92, 86, 86, 0.3);
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0.9);
    margin: 0 !important;
}

.custom-buttons:hover {
    background-color: rgba(108, 91, 63, 0.6);
    /* Higher contrast background color */
    border-color: rgba(112, 4, 4, 0.8);
    /* Higher contrast border color */
}



/* Custom Styles for Signup Form */
.container {
    margin-top: 50px;
}

.card {
    border: none;
    border-radius: 10px;
}

.card-title {
    font-size: 2rem;
    color: #333333;
}

.card-body {
    padding: 2rem;
}

form.signup input[type="text"],
form.signup input[type="email"],
form.signup input[type="password"],
form.signup input[type="submit"] {
    border-radius: 5px;
    padding: 10px 15px;
}

form.signup input[type="text"]:focus,
form.signup input[type="email"]:focus,
form.signup input[type="password"]:focus,
form.signup input[type="submit"]:focus {
    box-shadow: 1px 0 5px rgba(0, 123, 255, 0.5);
    border-color: #007bff;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.text-center a {
    color: #ff0000;
    transition: color 0.3s;
}

.text-center a:hover {
    color: #0056b3;
}

/*LOGIN STYLES*/



/*SIGN IN STYLES*/

.sign-in-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.sign-in-form {
    margin-top: 60px;
}

/*FOOTER STYLES*/
.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    flex-shrink: 0;
}

.footer .social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer .social-icons li {
    margin: 0 10px;
}

.footer .social-icons li a {
    color: #343a40;
    font-size: 24px;
    text-decoration: none;
}

/*Comments*/



.comment {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid silver;
    margin-bottom: 5px;
    color: white;
}

/*ADMIN STYLES*/

.admin-button-conatiner {
    margin: 25px 0px;
}

.approve-btn {
    background-color: rgba(0, 0, 0, 0.3);
    color: white !important;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s ease;

}

.reject-btn {
    background-color: rgba(0, 0, 0, 0.3);
    color: white !important;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    transition: background-color 0.3s ease;

}

.approve-btn:hover {
    background-color: rgba(0, 255, 0, 0.5);
    /* Green color with 50% opacity */
}

.reject-btn:hover {
    background-color: rgba(255, 0, 0, 0.5);
    /* Red color with 50% opacity */
}

.list-class {
    padding: 0px !important;
    margin: 0px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pending-item {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    text-align: center;
    margin-bottom: 10px;
    display: block;

}

.pending-item a {
    margin-left: 10px;
    color: #007bff;
    text-decoration: none;
}

.admin-content-text {
    background-color: rgba(0, 0, 0, 0.5);
}

.created_at-style {
    text-align: end;
    background-color: #000604;
    padding-right: 5px;
}

.admin-titles {
    padding-top: 50px;
}

.username-admin {
    text-align: left;
    font-size: 2rem;
    text-transform: capitalize;
}

.badge-danger {
    position: absolute;
    top: 5px;
    right: -5px;
    font-size: 8px;
    line-height: 1;
    padding: 3px;
}

/* BOOKINGS STYLES*/

.book-room-card {
    margin-bottom: 10px;
}

.room-card {
    transition: transform 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 3px solid silver;
}


.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: silver;
}

.card-text {
    font-size: 1em;
    color: silver;
}

.background-image-book-room {
    width: 100% !important;
    padding: 20px;
    background-image: url('../images/with-view.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row !important;
    min-height: 100vh !important;
    background-repeat: no-repeat;
    align-items: center;
}

.book-room-title{
    position: fixed;
    top: 0;
    margin-top: 50px;
    color: #000604;
}

.availability-badge{
    width: 30%;
    position: absolute;
    right: 5px;
    top: 15px;
}

/* Apply general styling to form elements */
.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

/* Apply specific styles to form labels */
.label-name {
    color: blue;
}

.label-email {
    color: green;
}

.label-phone {
    color: red;
}

.label-checkin-date {
    color: orange;
}

.label-checkout-date {
    color: purple;
}


/*ANIMATIONS*/


@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Define the keyframes for the zoom-in animation */
@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
        background-color: rgba(255, 255, 255, 0);
        /* Initial transparent background color */

    }

    100% {
        transform: scale(1);
        opacity: 1;

    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;

    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

/* Media Query for Small Screens */
@media (max-width: 576px) {

    .navbar-nav {
        background-color: rgba(4, 112, 38, 0.8);
        width: 150px;
        position: absolute;
        right: 0;
        margin: 15px 5px;
    }
}