/*
<a href="https://www.freepik.com/search">Icon by Iconic Panda</a>
<a href="https://www.freepik.com/search#uuid=c47bf124-ad03-405f-9847-1217d7d8091e">Icon by graphicmall</a>
<a href="https://www.freepik.com/free-photo/young-adult-organizing-documents_26298132.htm#fromView=search&page=1&position=9&uuid=111ae784-2a8f-4e14-981d-9371d9795993">Image by freepik</a>*/

/* GENERAL STYLES*/


/**HEADER**/

body {
    margin: 0;
    /* Removes default margin */
    padding: 0;
    /* Removes default padding */
    font-family: Arial, sans-serif;
    /* Sets the default font */
    background-color: #f0f0f0;
    /* Sets a light grey background color */
    color: #333;
    /* Sets the default text color */
    line-height: 1.6;
    /* Sets the line height for better readability */
    font-size: 16px;
    /* Sets the default font size */
}

hr {
    border: 3px solid #ccc;
    margin: 20px 0;
}

.pendings-count-number {
    background-color: rgba(255, 0, 0, 0.7);
    text-align: center;
    position: relative;
    float: right;
    display: block;
}

.display-pendings {

    display: block !important;
}



.attention-required {
    background-image: url("../images/attention-required.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 !important;
    text-align: center;
    width: 100% !important;

}

.pending-total-count {
    position: relative;
    bottom: 39px;
    float: right;
    padding: 5px;
    right: 95px;
    background-color: rgba(255, 0, 0, 0.9);
}


/* Hover effect for dropdown items */
.dropdown-menu .dropdown-item:hover {
    background-color: silver;
    /* Change the background color on hover */
    color: black;
    /* Change the text color on hover */
    text-decoration: none;
    /* Remove underline on hover */
}

.header-container {
    border-bottom: 4px solid silver;
    animation: slideInFromTop 0.6s ease-in-out;
    display: flex;
    flex-direction: row;

}

.nav-holder {
    height: 100% !important;
    text-align: center;
}

.nav-container {
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    background-color: rgba(1, 38, 41, 0.7);
    animation: slideInFromLeft 1.5s ease-in-out;
    border-bottom: 1px solid silver;
    height: 40px;
    text-align: center;
}

.navbar-nav {
    width: 100% !important;
    position: absolute;
    right: 0;
    margin: 20px 0px;
}


.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-top: 5px;
}



.navbar-collapse {
    transition: all 1s ease;
}

.avbar {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100% !important;
}

.avbar.toggler-active .nav-item {
    background-color: rgba(0, 0, 0, 0.9);
}

.avbar .nav-item {

    color: white;
    font-size: 1.2rem;
    text-align: right;

    width: 100%;
    text-align: center;


}

.avbar .nav-link {
    height: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    width: 100%;
    justify-content: end;
    text-align: end;
    padding-right: 20px;
    text-decoration: none;
    background-color: transparent !important;
    transition: background-color 0.3s, color 0.3s;

}



.active-link {
    border-left: 2px solid silver;
    border-right: 2px solid silver;
    background-color: #000604;
    font-size: 1.1rem;
    animation: zoomIn 1.8s ease-in;
}

.positioning-class {
    margin-bottom: 10px;
}

.nav-link i {
    margin-right: 8px;
    transition: background-color 0.3s, color 0.3s;
}



.navbar-toggler {
    right: 10px;
    position: absolute;
    padding-bottom: 5px;
}

.navbar-toggler-icon {
    background-image: none;
    width: 1.5em;
    height: 2px;
    background-color: silver;
    position: relative;
    padding: 1px;
    align-self: center;
    border-radius: 4px;
}

/* Create the lines for the hamburger icon */
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    /* Inherit the background color */
    position: absolute;
    left: 0;
    transition: transform 0.3s ease;
    /* Add transition effect */
}

/* Position the lines for the hamburger icon */
.navbar-toggler-icon::before {
    top: -6px;
}

.navbar-toggler-icon::after {
    bottom: -6px;
}

/* Add hover effect */
.navbar-toggler-icon:hover::before,
.navbar-toggler-icon:hover::after {
    transform: scale(1.1);
    /* Scale the lines on hover */
}

.dropdown-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0 !important;
    margin-top: 10px;

}

/* Dropdown menu styling */
.navbar .dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    /* Aligns the dropdown menu to the right */
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

/* Active link style */
.avbar .nav-link.active {
    font-weight: 900;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-bottom: 3px solid white;
    font-size: 1.4rem;
}


.avbar .dropdown-item {
    color: white;
    border-radius: 0 !important;
    font-weight: 500;
    padding: 10px;
    text-decoration: none;
    display: block;
    border-radius: 0 !important;
}

.avbar .dropdown-item:hover {
    background-color: #f8f9fa;
    /* Background color on hover */
    color: #ff6600;
    /* Text color on hover */
}

.avbar .dropdown-item img.dropdown-icon {
    width: 20px;
    /* Adjust icon size */
    height: 20px;
    margin-right: 10px;
    /* Space between icon and text */
}

.avbar .nav-item.dropdown:hover .dropdown-menu {
    display: block;

}

.dropdown-item-container {
    display: flex;
    flex-direction: row;
}

.dropdown-item-custom-style {
    display: flex;
    flex-direction: column;
}

/*CHAT*/
.floating-chat {
    background-color: #b30021;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 0.7rem;
}

.floating-chat i {
    margin-right: 8px;
}

label {
    color: #f8f9fa;
}

.chat-body {
    animation: slideFromRight 0.7s ease-in-out;

}

.chat-header {
    display: flex;
    justify-content: space-between;
    animation: slideInFromTop 1.3s ease-in-out;

}

.chat-footer {
    animation: slideInFromBottom 1.3s ease-in-out;

}

.chat-window {
    position: fixed;
    bottom: 80px;
    /* Adjust according to floating chat button position */
    right: 10px;
    width: 300px;
    height: 400px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: none;
    /* Initially hidden */
    flex-direction: column;
    animation: slideInFromRight 0.7s ease-in-out;

}

.chat-header {
    background-color: #b30000;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chat-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.chat-footer {
    padding: 10px;
    border-top: 1px solid #ccc;
}

.chat-footer input {
    width: calc(100% - 60px);
    padding: 5px;
}

.chat-footer button {
    width: 50px;
    background-color: #b30000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.floating-chat-container {
    display: none;
    position: fixed;
    z-index: 1000000000;
    bottom: 20px;
    animation: slideInFromRight 1.2s ease-in-out;
    right: 20px;
    /* distance from the right of the viewport */
}


/*MAIN CONTENT*/
.main-content-background {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    background-image: url("../images/lobby.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.room-info_image {
    width: 100%;
    display: flex;
}

.room-info-container {
    display: flex;
}

.room-container {
    margin: 5px;
    justify-content: center;

}

.cancellation_buton_style {
    width: 50%;
    margin: 0 auto;
}

.cancel-reservation-title {
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0px !important;
    padding: 10px;
}

.reservation-details {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* Style for the alternative-room container */

.alternative-room-container {
    margin: 0 !important;
    padding: 5px !important;
}

.alternative-room {
    padding: 0px !important;
    margin: 5px 5px !important;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
}

/* Style for the image inside alternative-room */
.alternative-room img {
    width: 100%;
    margin: 0 !important;
    object-fit: cover;
}




.reservation-title {
    margin-top: 90px;
    margin-bottom: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding-left: 5px;

}

.resevation-details-container {
    background-image: url("../images/room7.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservation-background {
    background-image: url("../images/room3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.rooms-details-background {
    background-image: url("../images/room6.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.room-reservation-container {

    background-color: rgba(1, 8, 0, 0.8);
    padding-bottom: 60px;
    color: white;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100%;




}


.rooms-content-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 50px;
    background-color: #f4f4f4;
    background-image: url("../images/room-view.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*LOGO STYLES*/

.logo-container {
    top: 70px;
    text-align: center;
    padding: 20px 10px 0px 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-family: Oswald;
    font-weight: 800;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    animation: zoomIn 1s ease-in-out;
}

.logo-container p {
    font-size: 0.7rem;
}



#logo {
    width: 40px;
    border-radius: 50%;

    border: 3px solid silver;
}


/*MAIN CONTENT HOMEPAGE SLIDE STYLES*/
.slide-holder {
    height: 400px;
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    animation: zoomIn 0.9s ease-in-out;
}

.modal {
    z-index: 99999999999999999999999999999;
    height: 500px;
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 400px;
    max-width: 800px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(255, 246, 246, 0.5);
    animation: zoomIn 1s ease-in;
}

.slide {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    transition: left 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    color: #fff;
    text-align: center;
    height: 150px;
    opacity: 0;
    animation: fadeIn 2s forwards;
    font-family: Oswald;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    margin-bottom: 20px;
    height: auto;
}

.main-content-background img {
    width: 100%;
}

/*REVIEW in the SLIDE*/

.review {
    padding: 15px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    color: white;
    animation: zoomIn 1s ease-in;

}

.reviews-header .review-body {
    font-size: 1em;
    margin: 10px 0;

}

.author-title {
    font-size: 1.3em;
    color: #ffffff;
    margin-left: 10px;
    text-transform: capitalize;
    font-weight: 500;

}

.review-date {
    font-size: 0.8em;
    color: #aaa;
    float: right;
}

.review-button-container {
    position: absolute;
    bottom: 10px;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

.stars {

    color: #ffd700;
    margin-left: 10px;
}

.action-button {
    position: absolute;
    bottom: 10px;
    padding: 5px 10px;
    margin: 0 !important;
    background-color: red !important;
    color: white !important;
    border: none !important;
    font-weight: 600;
    margin-bottom: 10px !important;
    cursor: pointer;
}

.review-success-container {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: white;
    padding: 20px;
}

.review-success-bg {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../images/room-view.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.review-detail-content {
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 50px;
}

.review-detail-content h1 p {
    padding-left: 50px;
}

.review-container {
    padding: 0px;
    margin-top: 30px;
    color: white;
    width: 100% !important;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    background-image: url("../images/room-view.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*all REVIEWS*/

.edit-review-container {
    min-height: 100vh;
    padding: 0px;
    margin-top: 30px;
    color: white;
    width: 100% !important;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    background-image: url("../images/room-view.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.edit-review-detail-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.edit-review-detail-content h1 {
    margin-top: 5rem;

}

.edit-review-detail-content form p {
    display: flex;
    flex-direction: column;
}

.edit-review-detail-content form p textarea {
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: white;
    font-size: 16px;
    resize: vertical;
}


.edit-review-detail-content form {
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-detail-username {
    display: inline-block;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: 600;
    padding: 0.5rem;
    color: white;

}

/* CSS for reviews page */
#reviews-page .container {

    background-color: rgba(255, 255, 255, 0.1);
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

}

.review-detail-title {
    margin-top: 100px;
    margin-bottom: 3rem;
    width: 100% !important;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
}


.reviews-page {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    animation: zoomIn 1.2s ease-in;
    min-height: 100vh !important;
    background-image: url("../images/room3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100% !important;

    /* Adjust background size and position as needed */


}

.reviews-header {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
    color: #ffffff;
    margin-top: 120px;
}

.reviews-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100% !important;

}

.review-item {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 !important;
    margin: 5px;
    color: white !important;
    box-shadow: 0 2px 5px rgba(255, 254, 254, 0.1);
    border-bottom: 3px solid silver;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.read-more {
    cursor: pointer;
    color: #adadad;
    display: block;
    font: 0.4rem;
}

.truncated-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.multi-line-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.review-created-at-profile {
    display: flex;
    align-items: center;
    background-color: black;
    height: 100%;
    padding: 5px;
}

.review-date-text {
    padding: 5px;
}

.review-text-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 5px;
}

.review-text {
    font-size: 1.4em;
    margin: 0 !important;
    font-style: italic;
    padding-left: 5px;
    color: whitesmoke;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    margin-top: 20px !important;
    background-color: rgba(0, 0, 0, 0.5) !important;




}

.author-title {
    font-size: 1.3em;
    color: #e6e3e3;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 15px;

}

.review-date {
    font-size: 1.3em;
    color: #e6e3e3;
    padding-right: 5px;
    text-align: end;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
}

.comment-count-position {
    text-align: left;
    position: absolute;
    bottom: -10;
    right: 0;

}

/* renovated-rooms.css */

.renovated-rooms {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    background-image: url("../images/room4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.renovated-rooms h1 {
    font-size: 2.5em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.renovated-rooms p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 15px;
}

.carousel-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
    min-height: 100%;
    width: 100%;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;


}

.renovated-rooms h1 {
    margin-top: 60px;
}

.carousel-item-containe {
    display: flex;
    min-width: 100%;
    padding-top: 60px;
}

.carousel-item-container p {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    top: 10%;
    left: 20px;
    width: 50%;

}

.carousel-item img {

    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.left-button {
    left: 10px;
}

.right-button {
    right: 10px;
}

@media (max-width: 768px) {
    .carousel-item p {
        font-size: 1em;
    }
}

/*LEAVE COMMENT*/

.custom-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    box-sizing: border-box;
    resize: vertical;
}

.custom-textarea:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}


.floating-button {
    position: fixed;
    top: 90px;
    left: 20px;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 1000;
    animation: slideInFromLeft 1.3s ease-in-out;
}

.floating-button:hover {
    background-color: #cc0000;
    /* Darker red on hover */
}


/* AUTHENTICATION STYLES */

.signup-title {
    background-color: rgba(0, 0, 0, 0.7) !important;
    font-weight: 700 !important;
    font-size: 2rem !important;
}

.login-out-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    background-image: url("../images/lobby.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.sign-out-confirmation-row {

    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;


}



.approved {
    z-index: 1;
    background-image: url("../images/approved-image.jpg");
    background-size: cover;
    background-position: center;
}

.rejected {
    z-index: 1;
    background-image: url("../images/rejected-image.jpg");
    background-size: cover;
    background-position: center;
}


/*NOTIFICATIONS STYLES*/
/* Base styles for notification sections and lists */
.notifications-container {
    margin-top: 0;
    animation: zoomIn 1.2s ease-in;
    min-height: 100vh !important;
    width: 100% !important;
    background-image: url("../images/room2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-body:hover {
    transform: scale(1.02);
    /* Scale up slightly on hover */
    /* Additional styles for hover state */
}

.no-content-message {
    padding: 10px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    border-left: 5px solid silver;
    color: rgb(255, 255, 255);
    width: 100% !important;
    margin-right: 15px;
    margin-left: 15px;
}

.notification-title {
    text-align: center;
    padding-top: 80px;
    color: white;
    font-weight: 500;
}

.notification-section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);

}

.notification-section h2 {
    margin-top: 0;
    color: white;
}

.notification-list {
    list-style-type: none;
    /* Remove default list styles (bullets) */
    padding: 0;
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.review-name-profile {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    margin: 0 !important;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    align-items: center;
    text-align: center;

}

.notification-list li {

    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    border-left: 5px solid silver;
    color: rgb(255, 255, 255);
    margin: 2px;
    text-transform: capitalize;
}

.notification-list li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    max-width: 100%;
    height: 100%;
}

.custom-div-profile {
    padding: 5px;
}

.custom-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.admin-user-container-styles {
    margin-top: 0;
    animation: zoomIn 1.2s ease-in;
    min-height: 100vh !important;
    background-image: url("../images/room7.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100% !important;
    margin: 0px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

/*CUSTOM BUTTONS*/
.card-body .btn {
    margin-top: 30px;
}

.edit-button {
    background-color: rgba(0, 255, 0, 0.6);
    color: white !important;
    padding: 5px 10px;
    font-weight: 500;
    margin-right: 5px;
    text-align: center;
}

.delete-button {
    background-color: rgba(223, 0, 0, 0.5);
    color: white !important;
    font-weight: 500;
    padding: 5px 10px;
    border: none;
}

.edit-button:hover {
    background-color: rgba(0, 123, 255, 0.5);
    border: 1px solid #ffffff;
    color: black;
    border: 1px solid black;
}

.delete-button:hover {
    background-color: rgba(0, 13, 27, 0.2);
    border: 1px solid #ffffff;
}


.close-button {
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    position: relative;
    align-self: flex-end;
    width: 40px;
    right: 0px;
    top: 0px;
    color: #ffffff;
    /* Change color as needed */
    background-color: red;
    /* Remove any background */
    border: none;
    /* Remove any border */
}

.button-container {
    margin: 0 !important;
    background-color: rgba(92, 86, 86, 0.3);
    display: flex;
    justify-content: center;
    margin-top: 30px !important;
    border-radius: 20px;

}

.main-bg {
    min-width: 100%;
    min-height: 100vh;
}

.datepicker {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #00bfff;
    padding: 10px;
    font-size: 14px;
}

.datepicker-dropdown {
    background-color: #ff0000;
    border: 1px solid #00bfff;
    border-radius: 5px;
    padding: 10px;
}

.datepicker table {
    width: 100%;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
    background: #00bfff;
    color: #ffffff;
}


.aproval-reservation-list {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    width: 100%;
}

#reservation-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-buttons {
    background-color: rgba(255, 0, 0, 0.9);
    color: white !important;
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0.9);
    margin-bottom: 10px !important;
    width: 70px;
    margin: 0 auto;
    display: flex;
    text-align: center !important;
    justify-content: center;


}

.center-button {
    background-color: rgba(255, 0, 0, 0.9);
    align-self: center;
    display: flex;

}

.custom-buttons:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: #545b62;
    border-color: rgba(255, 0, 0, 0.8);
    /* Higher contrast border color */
}



/* Custom Styles for Signup Form */
.margin-top-style {
    margin-top: 70px;
}

.card {
    border: none;
    border-radius: 10px;
}

.card-title {
    font-size: 2rem;
    color: #333333;
}

.col-md-8 {
    padding: 0 !important;
}

.card-body {
    padding: 0px !important;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.card-body a {
    width: 100%;
    margin: 0 auto;
}

.review-details-profile {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body h1 {
    font-size: 1.3rem;
    text-align: center;
    font-weight: 500;
}

form.signup input[type="text"],
form.signup input[type="email"],
form.signup input[type="password"],
form.signup input[type="submit"] {
    padding: 10px 15px;
}

form.signup input[type="text"]:focus,
form.signup input[type="email"]:focus,
form.signup input[type="password"]:focus,
form.signup input[type="submit"]:focus {
    box-shadow: 1px 0 5px rgba(0, 123, 255, 0.5);
    border-color: #007bff;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.text-center a {
    color: #ff0000;
    transition: color 0.3s;
}

.text-center a:hover {
    color: #0056b3;
}

/*LOGIN STYLES*/



/*SIGN IN STYLES*/
.logo-login-holder {
    width: 60% !important;
    background-color: 'none' !important;
    padding-bottom: 10px;
}

.sign-in-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

form.login label {
    color: white;
    font-size: 1.2rem;
}

form.login button {
    margin-top: 10px;
    display: flex;
    align-self: center;
    border-radius: none !important;
}

form.login input[type="text"] {
    /* Styles for input fields */
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: 2px solid #ccc;
    box-sizing: border-box;
    height: 40px;
}

form.login input[type="password"] {
    /* Styles for input fields */
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: 2px solid #ccc;
    box-sizing: border-box;
    height: 40px;
}

form.login {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.form-text {
    background-color: rgba(0, 0, 0, 0.5);
}

form.login input[type="text"]:focus,
form.login input[type="password"]:focus {
    /* Styles for input fields on focus */
    box-shadow: 1px 0 5px rgba(0, 123, 255, 0.5);
    border-color: #007bff;
}

form.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

form.signup input[type="text"]:focus,
form.signup input[type="password"]:focus {
    /* Styles for input fields on focus */
    box-shadow: 1px 0 5px rgba(0, 123, 255, 0.5);
    border-color: #007bff;
}

/* Target list items within the form.signup */
form.signup ul {
    padding: 5px;
    /* Remove default padding */
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    list-style-type: none;

}

form.signup li {
    margin-bottom: 10px;
    /* Add some space between list items */
    font-weight: bold;
    /* Make the text bold */
    color: rgb(255, 255, 255);
    /* Change text color to red */
}

.create-account-form {
    width: 100% !important;
    margin-top: 80px !important;
    padding-bottom: 20px;

}

form.signup label {
    color: white;
    font-size: 1.2rem;

}

form.signup button {
    margin-top: 10px;
    display: flex;
    align-self: center;
    border-radius: none !important;


}


.signup input[type="text"],
.signup input[type="password"],
.signup input[type="email"] {
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: 2px solid #ccc;
    box-sizing: border-box;
    height: 40px;
}


.create-acount-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sign-in-form {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-top: 20px;
}

.sign-in-form h3 {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    font-size: 2.5rem;
}

.sign-in-form p {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    font-size: 1.5rem;
    padding: 10px;
}

/*FOOTER STYLES*/
.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    flex-shrink: 0;
}

.footer .social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer .social-icons li {
    margin: 0 10px;
}

.footer .social-icons li a {
    color: #343a40;
    font-size: 24px;
    text-decoration: none;
}

/*Comments*/

/* CSS for styling text input fields within comment actions */

#id_text {

    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: white;
    font-size: 16px;
    resize: vertical;
    background-color: #0062cc;
    width: 100%;
    margin: 5;
}

.edit-comment-container h1 {
    width: 100%;
    padding: 10px;
    color: white;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.5);
}

.edit-comment-container {
    margin: 0 !important;
    min-height: 100vh;
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../images/room-view.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.comment-container {
    margin: 5px;
}

.comment-actions {
    display: flex;
    padding: 2px;
    justify-content: end;
}

.comment {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid silver;
    margin-bottom: 5px;
    color: white;
    margin-left: 2px !important;
    padding: 5px;
}

.comment p {
    padding-left: 5px;
    text-transform: capitalize;
}

.text-secondary {
    color: rgb(209, 0, 0) !important;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: 600;
    padding: 5px;
}

.comment-count {
    color: rgb(255, 255, 255);
    font-weight: 600;
}

/*ADMIN STYLES*/

.admin-button-conatiner {
    margin: 25px 0px;
}

.approve-btn {
    background-color: rgba(0, 0, 0, 0.3);
    color: white !important;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s ease;

}

.reject-btn {
    background-color: rgba(0, 0, 0, 0.3);
    color: white !important;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    transition: background-color 0.3s ease;

}

.approve-btn:hover {
    background-color: rgba(0, 255, 0, 0.5);
    /* Green color with 50% opacity */
}

.reject-btn:hover {
    background-color: rgba(255, 0, 0, 0.5);
    /* Red color with 50% opacity */
}

.list-class {
    padding: 0px !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.user-title {
    text-transform: capitalize;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 500;
    color: white !important;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    top: 1.5rem;

}

.text-bold {
    text-align: left;
    padding-left: 10px;
    font-weight: 700;
}

.custom-reservation-card-title {
    background-color: red;
    color: white;
    font-weight: 700;
    width: 30%;
    float: right;
    position: absolute;
    right: 25px;
}

.custom-card-title {
    background-color: red;
    color: white;
    font-weight: 700;
    width: 30%;
    float: right;
}

#result {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}


.availability-message {
    font-size: 2rem;
    padding: 1rem;
    color: rgb(255, 255, 255) !important;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
    background-color: rgb(216, 54, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

#result p {
    text-align: center;
    color: white;
    font-weight: 500;
    padding-left: 5px;
    margin: 5px;
    margin-top: 20px;

}

.available-badge {
    background-color: rgba(0, 255, 17, 0.3);
    width: 50%;
    text-align: center;
}

.check_availability_form_container form {
    width: 50%;
    margin: 0 auto;
}

.no-pending-item {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    color: white;
    text-align: center;
}

.no-pending-item-text {
    color: white;
    text-align: center;
    font-weight: 700;
    margin-bottom: 0 !important;
    font-size: 1.5rem;

}

.pending-item p {
    margin: 10px;
}

.pending-list-item {
    text-align: left;
    padding-left: 10px;
}

.pending-list-item-name {
    text-align: center;
    padding-left: 10px;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 500;

}

.pending-card {
    background-color: rgba(0, 0, 0, 0.5);
}

.pending-item {
    position: relative;
    background-color: rgba(5, 0, 0, 0.8);
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    border-left: 5px solid silver;
    text-align: center;
    margin: 5px 0px !important;
    margin-bottom: 5px;
    flex-direction: column !important;
    width: 99%;
    display: flex !important;
    height: 16em;
    border-radius: 0 !important;
    justify-content: space-evenly;

}

.pending-reservation-item {
    background-color: rgba(5, 0, 0, 0.8);
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    border-left: 5px solid silver;
    text-align: center;
    margin: 5px 0px !important;
    margin-bottom: 5px;
    flex-direction: column !important;
    width: 99%;
    display: flex !important;
    height: 16em;
    border-radius: 0 !important;
    justify-content: space-between;

}

.reservation-user-title {
    margin: 0 !important;
    background-color: rgba(0, 0, 0, 0.7);
    text-transform: capitalize;
    text-align: start;
    padding: 5px;
    font-size: 1.4rem;
    font-weight: 700;
}

.reservation-list-card {
    padding: 0 !important;
    align-items: center;
    justify-content: center;
    display: flex;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin-right: 12px !important;
}

.pending-reservation-card-container {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;

}

.review-actions {
    margin-left: 10px;
    margin-bottom: 1.3rem;
}

.review-align-bottom-date {
    position: absolute;
    bottom: 0;
}

.pending-item a {
    color: #ffffff;
    text-decoration: none;
    width: 100%;
}

.admin-content-text {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    line-height: 1.6;
    max-height: calc(1.6 * 3);
}


.created_at-style {
    text-align: end;
    padding-right: 5px;
    margin-top: 20px;
    position: absolute;
    top: 0px;
    right: 5px;

}

.titles-position-style {
    margin-top: 90px;
    color: white;
    background-color: rgba(50, 0, 0, 0.8);
}

.username-admin {
    text-align: left;
    font-size: 2rem;
    text-transform: capitalize;
}

.badge-danger {
    position: absolute;
    top: 5px;
    right: -5px;
    font-size: 8px;
    line-height: 1;
    padding: 3px;
}


/* BOOKINGS STYLES */

.room-type-title {
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-top: 30px;
    left: 0px;

}

.row {
    margin: 0 !important;
}

.room-card-container {
    animation: zoomIn 1s ease-in;
    max-width: 300px;
    margin-top: 10px;
    height: 400px;

}

.book-room-card {
    margin-bottom: 10px;


}

.card-img-top {
    border-radius: 0px !important;
}

.room-card {
    transition: transform 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 3px solid silver;
    margin: 0px !important;
    border-radius: 0px !important;
}



.mb-4 {
    margin-bottom: 2px !important;
}

.col-md-4 {
    padding-left: 3px;
    padding-right: 3px;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 0px !important;
    color: rgb(255, 255, 255);
    width: 100%;
    background-color: rgba(193, 2, 2, 0.7);
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
}


.card-text {
    font-size: 1em;
    color: silver;
    padding: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    /* Number of lines to show */
    line-height: 1.6;
    /* Adjust line height for readability */
    max-height: calc(1.6 * 3);
}

.card-price {
    width: 100%;
    text-align: center;
    color: white;
}

.additional-row-styles {
    margin: 0 !important;
}

.form-holder-create-review {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Style for the form container */
#reviewForm {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#submitReviewBtn {
    width: 70px;
    margin: 0 auto;
}

.col {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* Style for the form elements */
#reviewForm input[type="text"],
#reviewForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #fffefe;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    font-size: 16px;
}

/* Focus state for the form elements */
#reviewForm input[type="text"]:focus,
#reviewForm textarea:focus {
    border-color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    outline: none;
    /* Remove the default outline */
}

.review-list-item {

    margin: 0 !important;
    padding: 0 !important;
}

.background-image-book-room {
    width: 100% !important;
    padding: 5px;
    background-image: url('../images/with-view.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row !important;
    min-height: 100vh !important;
    background-repeat: no-repeat;
    align-items: center;
}

.aproval-admin-reservation-dashboard {
    width: 100% !important;
    padding: 20px;
    background-image: url('../images/with-view.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column !important;
    min-height: 100vh !important;
    background-repeat: no-repeat;
    align-items: center;
}

.book-room-title {
    position: fixed;
    top: 0;
    margin-top: 50px;
    color: #000604;
}

.book-title {
    background-color: rgba(0, 0, 0, 0.5);
}

.availability-badge {
    width: 30%;
    position: absolute;
    right: 5px;
    top: 15px;
}


label {
    font-weight: bold;
    padding: 5px;
}

/* Apply specific styles to form labels */
.label-name {
    color: red !important;
}

.label-email {
    color: red !important;
}

.label-phone {
    color: red !important;
}

.label-checkin-date {
    color: orange;
    margin-bottom: 0 !important;
}

.label-checkout-date {
    color: rgb(254, 0, 254);
    margin-bottom: 0 !important;
}

/* ALTERNATE ROOMS */

.alternate-room-description {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    line-height: 1.6;
    max-height: calc(1.6 * 3);

}

.alternate-room-price {
    font-weight: 700 !important;
    background-color: red;
}

.alternative-room {
    border: 1px solid #ccc;
    padding: 0px !important;
    margin: 5 !important;
    margin-bottom: 20px;
    color: white;
    display: flex;
    flex-direction: column;

}

.width-style {
    width: 100%;
}

.alternative-room img {
    margin-right: 20px;
}

.alternative-room button {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    border: none !important;

}

.alternative-room-details {
    flex: 1;
}

.alternative-room-details p {
    margin: 5px 0;
}

.alternative-room button {
    text-align: center;
    display: flex;
    align-items: center;
}

.alternative-room button:hover {
    background-color: #f9fafb;
    color: black;
}

.card-body:hover {
    transform: scale(1.03); 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
    text-decoration: none;
}
.loading {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 15px;
    margin-top: 200px;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

/**ROOM DETAILS*/

.images-container{
    display: flex;
    width: 100%;
    flex-direction: row !important;
}
.room-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%
}

.room-detail-title {
    font-size: 2rem;
    margin-top: 90px;
    font-weight: bold;
    padding-left: 5px;
    color: #ffffff;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
    text-transform: capitalize;
}

.room-detail-image {
    max-width: 100%;
    height: auto;
    border-bottom: 3px solid silver;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.room-detail-description {
    font-size: 1.2rem;
    padding: 5px;
    line-height: 1.5;
    color: white;
    font-weight: 500;
    margin-bottom: 20px;
}

.room-detail-price {
    font-size: 1.5rem;
    color: #f96233;
    /* Custom accent color */
    font-weight: bold;
    margin-bottom: 20px;
    text-align: end;
    margin-right: 20px;
}

/* MODALS STYLES */

/* Custom modal styles */
.custom-reservation-modal,
.custom-thankyou-modal,
.custom-modal {
    background-color: rgba(0, 0, 0, 0.8);
    top: 20%;

    /* Semi-transparent background */
}



.custom-reservation-modal-dialog {
    max-width: 800px;
    /* Custom width for modal dialog */
}

.reservation-message-card {
    display: flex;
    width: 100% !important;
    margin-top: 150px !important;

}

.modal-content {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    max-width: 600px;
    margin: auto;
    top: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#cancelReservationForm {
    align-self: center;
}

.custom-reservation-modal-content,
.custom-thankyou-modal-content,
.custom-modal-content {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;

}

.custom-reservation-modal-header,
.custom-thankyou-modal-header,
.custom-modal-header {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-bottom: none;
}

.custom-reservation-modal-body,
.custom-thankyou-modal-body,
.custom-modal-body {
    padding: 20px;
    /* Custom padding for modal body */
}

.custom-reservation-modal-footer,
.custom-thankyou-modal-footer,
.custom-modal-footer {
    background-color: rgba(0, 0, 0, 0.7);
    border-top: none;
    display: flex;
    justify-content: center;
}

.create-review-form-style {
    min-height: 100vh !important;
    margin: 0 !important;

}

.create-review-title {
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
    margin-bottom: 0 !important;
    padding-left: 5px;
}

.star-rating .fa-star {
    font-size: 24px;
    cursor: pointer;
    color: #ccc;
}

.star-rating .fa-star.checked {
    color: #f5c518;
}

/* Modal dialog */
.custom-modal-dialog {
    position: relative;
    margin: auto;
    top: 10%;
    width: 80%;
    max-width: 500px;
    z-index: 99999999999999999999999999;
    border: 1px solid #888;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Button styles */

.availability_button {
    display: block;
    background-color: rgba(136, 255, 0, 0.7);
    width: 100%;
    color: white;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    padding: 5px;

}



.availability_button:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
    transform: scale(1.05);
    color: white !important;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.3);
    text-decoration: none !important;
}

.button-container {
    text-align: center;
    /* Center align text within the container */
}

.custom-btn {
    padding: 8px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.custom-btn-secondary {
    background-color: #6c757d;
    /* Secondary button background color */
    border: 1px solid #6c757d;
    /* Secondary button border color */
    color: #fff;
    /* Secondary button text color */
}

.custom-btn-secondary:hover {
    background-color: #5a6268;
    /* Secondary button hover background color */
    border-color: #545b62;
    /* Secondary button hover border color */
}

.custom-btn-primary {
    background-color: #ff0000;
    /* Primary button background color */
    border: 1px solid #007bff;
    /* Primary button border color */
    color: #fff;
    /* Primary button text color */
}

.custom-btn-primary:hover {
    background-color: #0069d9;
    /* Primary button hover background color */
    border-color: #0062cc;
    /* Primary button hover border color */
}


.form-control {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: 1px solid white;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check_availability_form_container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    width: 100%;

}

.form-group {
    width: 100%;
    display: flex;

    align-items: center;

}

.form-group label {
    color: #ffffff;
    margin-bottom: 0 !important;
    min-width: 100px;
    /* Ensures labels have a minimum width for alignment */
}

.check_avialability_container {
    min-height: 100vh;
    background-image: url("../images/room7.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

/* Style for the date input fields */
.form-group input[type="date"] {
    flex: 1;
    padding: 5px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #ccc;
    border-radius: 4px;
    color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    padding-right: 30px;
    /* Add space for the icon */
}

/* Style for the calendar icon */
.form-group input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 10px;
    color: white;
    opacity: 0;
    /* Hide the default icon */
}

.form-group input[type="date"]:before {
    content: '\f073';
    /* FontAwesome icon for calendar */
    font-family: FontAwesome;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: white;
    /* Set the color of the icon */
}

.check_avialability_container h1 {

    color: white;
    font-size: 2rem;
}

.form-room-description {
    padding-top: 120px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    text-align: center;
    font-size: 1rem;
}

.form-room-price {
    color: white;
    background-color: rgba(188, 172, 2, 0.8);
    padding: 10px;
    text-align: center;

}

.hide-counts {
    display: none;

}

.form-room-title {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 100px;
    padding: 30px 0px;
    font-weight: 900;
}

.form-room-capacity {

    padding: 10px;
    margin-top: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);

    text-align: center;
    font-size: 1.5rem;
}

/* Hide the input fields */
.hidden-input {
    display: none;
}

/* Style for the date display */
.date-display {
    font-size: 1.2em;
    color: #ffffff;

}

/* ANIMATIONS */
/* Custom class to center content and animate zoom-in */
.center-zoom-in {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: zoomIn 1s ease-in-out;
}

/* Define the keyframes for the zoom-in animation */
@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;

    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

/* Media Query for Small Screens */
@media (min-width: 769px) {

    .room-detail-responsive-container{
        display: flex;
        flex-direction: row;

    }

    .avbar .nav-link {

        justify-content: center;
        text-align: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0) !important;


    }



    .navbar-nav {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        margin: 0;
        padding: 0;
        top: 0 !important;
        bottom: 0 !important;

    }


    .room-reservation-container {

        flex-direction: column;

    }

    .room-information {

        width: 100%;
    }

    .reservation-title {

        margin-top: 120px;
        font-size: 2rem;
        padding-left: 10px;

    }

    .avbar {
        justify-content: space-evenly;
    }

    .room-reservation-container {
        display: flex;
        flex-direction: row;
        top: 50%;
    }

    .reservation-details {
        width: 50%;
    }

    .nav-container {

        height: 80px;

    }


    .avbar .nav-link {
        transition: background-color 0.5s ease, color 0.5s ease, transform 0.7s ease, opacity 0.5s ease;
    }

    .avbar .nav-link:hover {
        background-color: rgba(255, 0, 0, 1) !important;
        /* Red background */
        font-weight: 700;
        color: #fff;
        transform: scale(1.1);
        opacity: 1;
        /* Ensure full opacity on hover */
    }

    #confirmationModal {
        margin: 0 auto;
        top: 20%;
    }

    .avbar .dropdown-item img.dropdown-icon {
        width: 30px;
        /* Adjust icon size */
        height: 30px;
        margin-right: 10px;
        /* Space between icon and text */
    }

    #id_text {
        width: 50%;
        margin: 0 auto;
        display: flex;
    }

    .form-room-description {
        padding-top: 120px;
        color: white;
        font-size: 1.5rem;
    }

    /* Style for the form container */
    #reviewForm {
        width: 50%;
    }

    .admin-count-container {
        background-color: #000;
        display: block;
    }

    #check-box-visibility-style {
        margin-bottom: 10px !important;
        background-color: #007bff;
    }

    .pending-total-count {
        position: relative;
        bottom: 80px;
        right: 5px;
        background-color: rgba(255, 0, 0, 0);
        display: block !important;
        font-weight: 700;
    }


    .review-details-profile {

        flex-direction: row;
    }



    .review-name-profile {

        font-size: 1.7rem;
    }
    
    .room-detail-image{
        margin-left: 10px;
        flex: 1;
     }
}


@media screen and (max-width: 1000px)and (max-height: 500px) and (orientation: landscape) {

    .availability-message {

        background-color: rgb(0, 249, 8) !important;

    }

    .slideshow-container {
        height: 300px;
    }

    .custom-reservation-modal,
    .custom-thankyou-modal,
    .custom-modal {
        background-color: rgba(0, 0, 0, 0.8);
        top: 0%;
    }


    /* Custom modal styles */
    .custom-reservation-modal,
    .custom-thankyou-modal,
    .custom-modal {
        background-color: rgba(0, 0, 0, 0.8);
        top: 0%;

        /* Semi-transparent background */
    }

    .modal-content {

        flex-direction: row;

    }

    .modal-title {
        display: none;
    }

}